@import "~font-awesome/css/font-awesome.css";

@import "./scss/variables";
@import "~bootstrap/scss/variables";

body {
  position: relative;
  height: 100vh;
  background-color: $app-background;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
  margin: 0;
  // pointer-events: none;
  user-select: none;
}

#root {
  height: 100%;
}

#app-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 100%;
}

// the entire right column of the app
#page-wrapper {
  flex-grow: 1;
  .page-header {
    // bump it ever so slightly
    min-height: $nav-size + 1px;
    border-bottom: 1px solid $gray-lighter;
  }
  // wrapps the header and any containing elements
  #page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    > .container-fluid {
      padding-top: $grid-gutter-width-base;
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}

#app-nav {
  min-width: $nav-size;
  display: flex;
  flex-direction: column;
  background: $gray;
  color: $white;
  // TODO: handle too many elements and scrolling the list in a better fashion
  overflow-y: scroll;

  .nav-item {
    min-height: $nav-size;
    flex-direction: column;
    position: relative;

    // center all the biz
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    transition: background 0.2s linear;
    color: $white;
    text-decoration: none;

    $arrow-size: 12px;
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0);
      border-right-color: $app-background;
      right: 0;
      top: 50%;
      border-width: 0;
      margin-top: 0;
      transition: border-width 0.2s linear, margin-top 0.2s linear;
    }
    &.active {
      &:before {
        margin-top: -($arrow-size / 2);
        border-width: $arrow-size / 2;
      }
      background: rgba($app-background, 0.08)
    }
  }

  // Types of nav-items
  .app-title {
    h1 {
      margin: 0;
      font-size: 20px;
    }
  }

  .nav-connection-status {
  }

  .nav-push-down {
    // align-self: flex-end;
    margin-top: auto;
  }
}

// connection indicator
.connection-indicator {
  transition: color 0.2s linear;
  color: $color-danger;
  &.active {
    color: $color-success;
  }
}

// bootstrap

@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/custom";

// Reset and dependencies
@import "~bootstrap/scss/normalize";

// Core CSS
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/code";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/tables";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/buttons";

// Components
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/breadcrumb";
// @import "~bootstrap/scss/pagination";
@import "~bootstrap/scss/badge";
// @import "~bootstrap/scss/jumbotron";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/progress";
@import "~bootstrap/scss/media";
@import "~bootstrap/scss/list-group";
// @import "~bootstrap/scss/responsive-embed";
@import "~bootstrap/scss/close";

// Components w/ JavaScript
// @import "~bootstrap/scss/modal";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/carousel";

// Utility classes
@import "~bootstrap/scss/utilities";
